ul {
  list-style: none;
  width: 80%;
  border-bottom: 1px solid grey;
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
  margin-left: 3%;
}
.item {
  cursor: pointer;
  padding-top: 10px;
  border-top: 1px solid grey;
  padding-bottom: 5px;
}
.panda-item:hover {
  background-color: tan;
}
.panda-item {
  width: 150px;
  height: 30px;
}
.story-item:hover {
  background-color: tan;
}
.story-item {
  width: 100%;
}
#addPanda {
  margin: 10px;
}
